.searchbar-container{
    --searchbar-bg-color: white;
    --searchbar-font-size: 1rem;


    display: flex;
    width: 40%;
    height: auto;
    aspect-ratio: 12/1;
    position: fixed;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0);

    background-color: var(--searchbar-bg-color);
    border-radius: 3px;
    transition: 0.3s ease-out;
    outline: transparent;
    border: 1px solid gray;
    z-index: 99999;
}

.searchbar-container-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
}


.searchbar-container:focus-within{
    border-color: navy

}

.searchbar-input{
    font-size: var(--searchbar-font-size);
    border: none;
    flex: 8;
    padding-right: 1rem;
}

.searchbar-input:focus{
    outline: none;
}

.searchbar-button{
    padding: 0.6rem;
    cursor: pointer;
    border: none;
    flex: 1;
    background-color: rgb(239, 222, 199);
}

@media screen and (max-width: 950px) {
  .searchbar-container {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .searchbar-container {
    width: 80%;
  }
}