nav {
  display: flex;
  height: 10vh;
  width: 100%;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid gray;
}

#logo {
  color: rgb(29, 29, 29);
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

#logo-dot {
  font-size: 1.7em;
}

#slideshow-link {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 2px;
}

#slideshow-link:hover {
  cursor: pointer;
}

#logo:hover {
  cursor: pointer;
}
.nav-items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  color: black;
  width: 100%;
  height: 100%;
}
