.navigation-bar-container {
  margin-bottom: 3em;
}

.navigation-bar {
  display: flex;
  gap: 1.3em;
  flex-direction: column;
  padding: 1em;
}

.progress-bar {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.317);
}

.progress {
  height: 1px;
  background-color: black;
  transition: 0.4s ease-in-out;
}

.navigation-title-wrapper > h2 {
  font-size: 1em;
}

.navigation-title-wrapper > p {
  font-size: 0.7em;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-buttons {
  display: flex;
  gap: 1em;
}

.navigation-buttons *:hover {
  cursor: pointer;
}

.next > * {
  rotate: 180deg;
}

.navigation-buttons > button {
  all: unset;
  scale: 0.9;
}

.navigation-buttons > button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
