.navigation-bar-container {
  width: 100%;
}

.navigation-bar {
  display: flex;
  gap: 1.3em;
  flex-direction: column;
  padding: 1em;
}

.progress-bar {
  width: 100%;
  height: 1px;
  background-color: gray;
  color: black;
}

.navigation-title-wrapper > h2 {
  font-size: 1em;
}

.navigation-title-wrapper > p {
  font-size: 0.7em;
}
