header {
  padding-top: 2em;
  position: relative;
  height: 80vh;
  isolation: isolate;
  background-color: white;
}

.header-title-container {
  position: absolute;
  top: 30%;
  left: 10%;
}

.header-title {
  color: rgb(0, 0, 0);
  font-size: calc((6vw + 6vh) / 2);

  font-weight: 2000;
  z-index: 1;
}

@keyframes growRight {
  from {
    width: 0%;
  }

  to {
    width: 60%;
  }
}

.overlay-box {
  position: absolute;
  background-color: black;
  height: 80vh;
  /* animation: growRight 0.8s ease-in-out; */
  animation-fill-mode: both;
  mix-blend-mode: difference;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  background-color: #ffffff;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  font-family: var(--font-main);
}

.app-wrapper > * {
  width: var(--app-width);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
