@font-face {
  font-family: "Libre Baskerville";
  src: url("fonts/LibreBaskerville.ttf");
}

:root {
  --font-main: "Libre Baskerville", serif;
  --app-width: 93%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100%;
  width: 100%;
}
