:root {
  --font-main: "Libre Baskerville", serif;
  --app-width: 90%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

html,
body,
#root {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100%;
  width: 100%;
}
